.img-fluid {
    opacity: 0.5;
  }
.container{
}
figure{
    padding: 20px;
}
.icon round-border tran3s{
    padding: 15px;
}
.my-4{
    margin-top: -0.5rem!important;
}
.btn-group{
    margin-bottom: 2%;
}
.dropdown{
}
.btn-group{
    position: relative;
}
.spacing{
    padding: 0.5rem;
}
#rangeValue:before
{
    content: "";
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
.form-control-range::before{
    content: "1";
    color: gray;
    position: absolute;
    font-size: 1.5;
    left: 2.5%;
    top: 55%;

}
.form-control-range::after{
    content: "12";
    color: gray;
    position: absolute;
    font-size: 1.5;
    left: 96.5%;
    top: 55%;

}
.from-control-range{
    background: gray;}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.copy{
    padding: 1.5rem;
}
.coffee-maker{
    padding-bottom: 7%;
}